- content_for :title do
  \- All notes

.container
  -#.subtitle.pt-3
    All notes

  .pt-4
    - @notes.in_groups_of(3).each do |group|
      .columns
        - group.compact.each do |note|
          .column.is-one-third
            = render partial: "note", locals: { note: note }
