- content_for :title do
  \- Notes tagged with '#{@tag_name}'

.container
  .title.pt-3
    Notes tagged with 
    %span.tag.is-size-5
      = @tag_name

  .pt-4
    - @notes.in_groups_of(3).each do |group|
      .columns
        - group.compact.each do |note|
          .column.is-one-third
            = render partial: "note", locals: { note: note }

  .pt-4.mt-4.mb-4.pb-4.is-page-horizontal-centered
    = paginate @notes