.note {
  .media {
    margin-bottom: 0px !important;

    &-content {
      p {
        &.title {
          margin-bottom: 0px;
        }
      }
    }
  }

  .content {
    .html {
      max-height: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.notes_new, .notes_create, .notes_edit, .notes_update {
  textarea {
    height: 400px;
  }
}

.new-note {
  .note-title {
    width: 400px;
  }
}