.note {
  .media {
    margin-bottom: 0px !important;

    &-content {
      p {
        &.title {
          margin-bottom: 0px;
        }
      }
    }
  }

  .content {
    .html {
      max-height: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.notes_new, .notes_create, .notes_edit, .notes_update {
  textarea {
    height: 400px;
  }
}

.new-note {
  .note-title {
    width: 400px;

    @include mobile {
      width: auto;
    }
  }
}

.notes_tag_cloud {
  .tag_cloud {
    .css1 { @extend .is-size-4; @extend .has-background-info-light; }
    .css2 { @extend .is-size-3; @extend .has-background-info; }
    .css3 { @extend .is-size-2; @extend .has-background-primary-light; }
    .css4 { @extend .is-size-1; @extend .has-background-primary; }
  }
}