.note {
  .media {
    margin-bottom: 0px !important;

    &-content {
      p {
        &.title {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.notes_new, .notes_create, .notes_edit, .notes_update {
  textarea {
    height: 400px;
  }
}